<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{block name='title'}登录{/block}</title>
  <link rel="stylesheet" href="__STATIC__/layuiAdmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiAdmin/style/admin.css" media="all">
  <link rel="icon" href="/icon.png" type="image/*">
  <!--<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css" media="all">-->
  <link rel="stylesheet" href="__STATIC__/layuiAdmin/layui/css/modules/layer/default/layer.css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="//cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="//cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
[endif]-->
  {block name="head"}{/block}

</head>
<script src="__STATIC__/layuiAdmin/layui/layui.js"></script>
{block name="body"}

{/block}
</html>